body {
    background: #81b1f5;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    background: #4f5ff0;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.formulario input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.formulario button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: white;
    color: blue;
    cursor: pointer;
    transition: background 0.5s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.formulario button:hover {
    background: blue;
    color: white;
}