body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #81b1f5;
}

.formulario {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    gap: 15px;
    width: 300px;
    background: #4f5ff0;
    padding: 15px 20px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.input-box i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    pointer-events: none;
}

.input-box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.botao_senha {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    z-index: 2;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario button.enviar {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: white;
    color: blue;
    cursor: pointer;
    transition: background 0.5s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 100%;
}

.formulario button.enviar:hover {
    background: blue;
    color: white;
}

.formulario h2 {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: white;
}